@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
	<div id="con_form">
		<div class="container">
			<div class="c_container">	



    <legend style="margin-bottom: 25px; height: 50px;font-size: 22px; font-weight: bold">General Setting</legend>
    <div>
        <section style="margin-bottom: 25px;">
            <label style="font-size: 18px;border-style: none none solid; border-color: rgb(193, 193, 193); border-width: 2px; padding: 2px 0px; width: 850px; height: 50px; margin-bottom: 25px;">Organisation</label>
            <div style="float: left; width: 50%">
                <a href="/Company/Index/" style="color: cornflowerblue; font-size: 16px;">Organisation Setting</a>
                <p style="color: silver">Edit your organisation details.</p>
            </div>
            <div style="float: left; width: 50%">
                <a href="/Accounts/Index/" style="color: cornflowerblue; font-size: 16px;">Chart of Accounts</a>
                <p style="color: silver">Add, edit, archive, delete, import or export your accounts.</p>
            </div>
            <div style="float: left; width: 50%">
                <a href="#" style="color: cornflowerblue; font-size: 16px;">Tracking</a>
                <p style="color: silver">Manage tracking items for more powerful reporting.</p>
            </div>
            <div style="float: left; width: 50%">
                <a href="#" style="color: cornflowerblue; font-size: 16px;">Financial Setting</a>
                <p style="color: silver">Edit your financial settings such as tax period and lock dates.</p>
            </div>
            <div style="float: left; width: 50%">
                <a href="#" style="color: cornflowerblue; font-size: 16px;">Conversion Balances</a>
                <p style="color: silver">Update account balances from previous accounting systems.</p>
            </div>
            <div style="float: left; width: 50%">
                <a href="/Users/Index/" style="color: cornflowerblue; font-size: 16px;">User</a>
                <p style="color: silver">Manage who has access to your organisation.</p>
            </div>
            <div style="float: left; width: 50%">
                <a href="/TaxRate/Index/" style="color: cornflowerblue; font-size: 16px;">Tax Rates</a>
                <p style="color: silver">Add, edit and delete the tax rates you want to use.</p>
            </div>
            <div style="float: left; width: 50%">
                <a href="/Contacts/Index/" style="color: cornflowerblue; font-size: 16px;">Custom Contact Link</a>
                <p style="color: silver">Create custom links for your TMT contacts and other systems.</p>
            </div>
        </section>
        <section style="float: left; width: 425px;">
            <label style="width: 400px; font-size: 18px;border-style: none none solid; border-color: rgb(193, 193, 193); border-width: 2px; padding: 2px 0px;height: 50px; margin-bottom: 25px;">Features</label>
            <div>
                <a href="#" style="color: cornflowerblue; font-size: 16px;">Invoice Settings</a>
                <p style="color: silver">Invoices, credit notes, statements, remittance advice, payment services.</p>
            </div>
            <div>
                <a href="/Good/Index/" style="color: cornflowerblue; font-size: 16px;">Inventory Items</a>
                <p style="color: silver">Manage items that you frequently buy and sell.</p>
            </div>
            <div>
                <a href="/Currency/Index/" style="color: cornflowerblue; font-size: 16px;">Currencies</a>
                <p style="color: silver">Add foreign currencies that your organisation uses.</p>
            </div>
            <div>
                <a href="/PayItems/Index/" style="color: cornflowerblue; font-size: 16px;">Pay Items</a>
                <p style="color: silver">Manage the pay items used for pay runs.</p>
            </div>
            <!--<div>
                <a href="#" style="color: cornflowerblue; font-size: 16px;">Email Settings</a>
                <p style="color: silver">Set a reply-to email address and email template content.</p>
            </div>-->
        </section>
        <!--<section style="float: left; width: 425px;">
            <label style="width: 425px; font-size: 18px;border-style: none none solid; border-color: rgb(193, 193, 193); border-width: 2px; padding: 2px 0px;height: 50px; margin-bottom: 25px;">Connect</label>
            <div>
                <a href="#" style="color: cornflowerblue; font-size: 16px;">TMT To TMT</a>
                <p style="color: silver">Send and receive sales invoices and bills from other TMT users.</p>
            </div>
            <div>
                <a href="#" style="color: cornflowerblue; font-size: 16px;">Add-ons</a>
                <p style="color: silver">Connect to other online services.</p>
            </div>
        </section>-->
    </div>
    
			</div>
		</div>
	</div>
