@{
    Layout = null;
}

@using (Html.BeginForm())
{
    <div class="form_position1">
        <div class="form_right">
            <div class="form-group">

            </div>
            
        </div>
    </div>

}